/* estilos */

#productos,
#carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    margin-bottom: 20px;
    text-align: center;

}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}

#carrito {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#carrito h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

#carrito div {
    margin-bottom: 5px;
}
 /* cards */
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-top: 0;
    font-size: 18px;
}

.card p {
    margin-bottom: 10px;
    font-size: 14px;
}

/* boton de las cards */
.card button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #45a049;
}

.footer {
    margin-top: 200px;
}

/* pop-up */
.pop-up {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    animation: slideIn 0.5s ease-in-out forwards, fadeOut 0.5s 2s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        bottom: -100px;
    }
    to {
        bottom: 20px;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

